*{
    margin: 0px;
}

:root{
    --dark-blue:#0A64BC;
    --light-blue:#34BDC3;
}
body{
    height:1000px;
    position: relative;
    background-color: #D4F6F8;
}

.hollow-rect{
    position: absolute;
    border: 2px solid var(--dark-blue);
    border-radius: 10px;

}

#hollow-rect1{
    height: 200px;
    width: 90px;
    right: 5px;
    top: 70px;
    animation : animate-hollow-rect1 2s infinite alternate-reverse;
}

#hollow-rect2{
    height: 200px;
    width: 30px;
    right: 87px;
    top: 120px;
    animation : animate-hollow-rect2 1s infinite alternate-reverse;

}


/* Animation for hollow rectangles */
@keyframes animate-hollow-rect1 {
    
    0%{ top: 70px;
    opacity: 1;
    }
    100%{ top: 200px;
        opacity: 0;
    }
}

@keyframes animate-hollow-rect2 {
    
    0%{ top: 120px;
        opacity: 1;
     }
    100%{ top: 190px;
        opacity: 0;
    }
}







/* media query for phone */
@media screen and  (max-width: 411px){
    
}






.header{
    top:-10px;
    height: 70px;
    background-color: #34BDC3;
    z-index: 2;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.burger{
    position: absolute;
    top: 10px;
    width: 80px;
    z-index: 5;
    /* background-color: green; */

}
.burger:hover{

}
.burger-rect{
    background-color: rgb(255, 255, 255);
    height: 6px;
    width: 60px;

}

#burger-rect{
    height: 11px;
    display: block;
}



#burger-rect1{
    display: block;
    margin: 10px;
}



#burger-rect2{

    display: block;
    margin: 10px;
}



#burger-rect3{
    display: block;
    margin: 10px;
}


.layer1{
    position: relative;
    z-index: 1;
}

#banner-rec1{
    position: absolute;
    height: 493px;
    width: 181px;
    top: -100px;
}




.bubbles-container{
    position: absolute;
    width: 50px;
    /* background-color: yellow; */
    border-radius: 50%;
    z-index: 5;
    top:-14px;
}

#bubble1{
    position: absolute;
    height: 20px;
    width: 20px;
    /* background-color: yellow; */
    border: 2px solid white;
    border-radius: 50%;
    z-index: 5;
    top:-20px;
    animation : animate-bubble1 2s infinite alternate-reverse;
}

#bubble2{
    position: absolute;

    height: 50px;
    width: 50px;
    /* background-color: yellow; */
    border: 2px solid white;
    border-radius: 50%;
    z-index: 5;
    top:-10px;
    animation : animate-bubble2 1s infinite alternate-reverse ;

}


@keyframes animate-bubble1 {
    0%{opacity: 1;}
    100%{opacity: 0;}
}


@keyframes animate-bubble2 {
    0%{opacity: 1;}
    100%{opacity: 0;}
}




.card{
    position: relative;
    height: 205px;
    width: 184px;
    top: 75px;
    left:63px;
    /* background-color: green; */
}
#pentagon-card{
    position: absolute;
    top: 80px;
    height: 130px;
    width: 190px;
    z-index: 2;
}

#rectangle-card{
    position: absolute;
    height: 150px;
    width: 120px;
    left: 30px;
    border-radius: 20px;
    z-index: 1;
    background-color: rgb(52 189 195 / 30%);;
    /* background: linear-gradient(180deg, rgba(63, 198, 203, 0) 0%, #3FC6CB 100%); */
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));
}

#profile-card{
    position: absolute;
    height: 100px;
    left: 40px;
    top: 20px;
    z-index: 3;
}

#card-heading1{
    position: absolute;
    top:120px;
    left:20px;
    z-index: 3;
    font-weight: bold;
    font-size: 19px;
    color: white;
}

#mini-rectangle-card{
    position: absolute;
    top:147px;
    left:64px;
    background-color: #E0DFDD;
    height: 3px;
    width: 50px;
    z-index: 3;
}

#card-heading2{
    position: absolute;
    top:160px;
    left:20px;
    z-index: 3;
    font-size: 12px;
    color: #D4F6F8;
}

#banner-rec2{
    left: 92px;
    position: absolute;
    top:390px;
    transform: scaleY(2);
}


.menu-layer{
    height: 100vh;
    /* position: sticky; */
    /* width: 200px; */
    
    background-color: var(--dark-blue);
    width: 0%;
    z-index: 10;
    display: none;
    transition: all 0.8s ease;
}


.menu{
    display: none;
    height: 1000px;
    position: sticky;
    width: 90%;
    z-index: 10;
    transition: all 0.5s ease;
    /* background-color: yellow; */

}

.menu ul {
    list-style-type:"\00BB";

} 

.menu ul li{
    color: rgb(255, 255, 255);
    /* background-color: red; */
    padding:30px;
    transition: 1s ease;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    transition: all 3s ease;

}

#close-button{
    float: right;
    height: 60px;
    width:60px;
    background-color: var(--light-blue);
    border: none;
    font-weight:bold;
    font-size:50px;
    color: var(--dark-blue);
    /* margin-right: 10px; */
    margin-top: 10px;
    border-radius: 0% 0% 0% 50%;
}

#close-menu{
    height: 60px;
    background-color: var(--dark-blue);
}

.layer2{
    position: relative;
    height: 1000px;
    /* background-color: green; */
    width: 100%;
    top: 210px;
    z-index: 2;
}

.sticky-container-main{
    position: absolute;
    height: 200px;
    width: 80%;
    left: 10%;
    top: 400px;
    background-color: #D4F6F8;
    border-radius: 20px;
    border:2px solid var(--dark-blue);
    box-shadow: 3px 4px 4px #D4F6F8;
    z-index: 2;

}



#conatiner-sub{
    position: relative;
    right: -48px;
    top: 381px;
    width: 68px;
    z-index: 1;
}